// this version of the recipe is meant to be passed arguments:
// - fasta_file;
// - vcf_file;
// - mu: mutation rate total;
// - mut_file: mutation to read file from. 
//initializeMutationRate(2.36e-8);
initialize() {
	initializeSLiMOptions(nucleotideBased=T);
	defineConstant("L", initializeAncestralNucleotides(fasta_file));
	initializeMutationTypeNuc("m1", 0.5, "f", 0.0);

	mm = mm16To256(mmJukesCantor(mu / 3));
	//mut_file
	file_mut= readFile(mut_file);
	for (line in file_mut)
	{
		line=strsplit(line,sep= '\t');
		mut=line[0];
		catn(mut);
		mut_idx= nucleotidesToCodons(mut);
		rates= strsplit(line[1],sep= ',');
		for (r in 0:3)
		{
			mm[mut_idx,r]= asFloat(rates[r]);
		}
	}

	initializeGenomicElementType("g1", m1, 1.0, mutationMatrix=mm);
	initializeGenomicElement(g1, 0, L-1);
	initializeRecombinationRate(1e-8);
}

1 {

    sim.addSubpop("p0", 808344);
    c = sim.chromosome;
    catn("Ancestral: " + paste(c.ancestralNucleotides(format="char")[0:20],sep=""));
    catn();
}


50000 {
	sim.addSubpopSplit("p5", 25237, p0);
	sim.addSubpopSplit("p1234", 215220, p0);
	p0.setSubpopulationSize(0);
}


62653 {
	sim.addSubpopSplit("p4", 41393, p1234);
	sim.addSubpopSplit("p123", 1247, p1234);
	p1234.setSubpopulationSize(0);
	p5.setMigrationRates(c(p4), c(4.218099473862508e-05));
	p4.setMigrationRates(c(p5), c(9.83662593679592e-06));
}


73477 {
	sim.addSubpopSplit("p3", 9478, p123);
	sim.addSubpopSplit("p12", 61228, p123);
	p123.setSubpopulationSize(0);
}


79237 {
	sim.addSubpopSplit("p1", 1262, p12);
	sim.addSubpopSplit("p2", 4681, p12);
	p12.setSubpopulationSize(0);
	p5.setMigrationRates(c(p2), c(2.6566618674898187e-05));
	p4.setMigrationRates(c(p1), c(1.0725031793946815e-05));
	p4.setMigrationRates(c(p2), c(1.1866513745116523e-05));
	p1.setMigrationRates(c(p2), c(7.886495426920131e-06));
	p1.setMigrationRates(c(p4), c(2.8313457391868626e-06));
	p2.setMigrationRates(c(p1), c(0.0005013808985641508));
	p2.setMigrationRates(c(p3), c(7.879764184991873e-05));
	p2.setMigrationRates(c(p4), c(3.10452230073315e-05));
	p2.setMigrationRates(c(p5), c(2.0134470998030746e-05));
}

82432 late() {

    g = c();
    pops= 0:4;
    samples= c(500,500,500,500,500);
    for (x in pops) 
        g= c(g, sim.subpopulations[x].sampleIndividuals(samples[x]).genomes);

    g.outputVCF(vcf_file,simplifyNucleotides=T);
    
}
